@model ReciclaFacil.Models.Entities_RF.Caminhoes

@{
    ViewBag.Title = "Remover Caminhão";
}

<br />
<div>
    <button type="button" title="Voltar" class="btn btn-primary pull-left" style="position:absolute" onclick="location.href='@Url.Action("Caminhoes", "Cooperativas")'">
        <span class="glyphicon glyphicon-arrow-left" />
    </button>
    <h2 class="text-center">Remover Caminhão</h2>
</div>
<hr />
<br />

<h4>Deseja remover esse caminhão?</h4>
<br />
<div class="dl-horizontal">
    <div>
        <span style="margin-left: 20px;">
            @Html.Label("Cooperativa:")
            @Html.DisplayFor(model => model.Cooperativas.razaoSocial)
        </span>
    </div>

    <div>
        <span style="margin-left: 20px;">
            @Html.Label("Placa:")
            @Html.DisplayFor(model => model.placa)
        </span>
    </div>

    <div>
        <span style="margin-left: 20px;">
            @Html.Label("Descrição:")
            @Html.DisplayFor(model => model.descricao)
        </span>
    </div>
</div>
<br />
@using (Html.BeginForm("DeletarCaminhao", "Cooperativas", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="col-md-offset-2 col-sm-offset-3">
        <input type="submit" value="Remover" class="btn btn-primary" />
    </div>
}
