@model ReciclaFacil.Models.Entities_RF.Caminhoes

@{
    ViewBag.Title = "Desassociar Caminhao";
}
<br />
<div>
    <button type="button" title="Voltar" class="btn btn-primary pull-left" style="position:absolute" onclick="location.href='@ViewBag.retorno'">
        <span class="glyphicon glyphicon-arrow-left" />
    </button>
    <h2 class="text-center">Desassociar Caminhão</h2>
</div>
<hr />
<br />
<h4>Deseja remover esse caminhão?</h4>
<div class="dl-horizontal">
    <br />
    <div>
        <span style="margin-left: 20px;">
            @Html.Label("Placa:")
            @Html.DisplayFor(model => model.placa)
        </span>
    </div>

    <div>
        <span style="margin-left: 20px;">
            @Html.Label("Descrição:")
            @Html.DisplayFor(model => model.descricao)
        </span>
    </div>
</div>
<br />
<div>
    
    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="col-md-offset-2 col-sm-offset-3">
            <input type="submit" value="Remover" class="btn btn-primary" />
        </div>
    }
</div>
