@using System
@model IEnumerable<ReciclaFacil.Models.Entities_RF.Coletas>

@{
    ViewBag.Title = "Minhas Coletas";
}
<br />
<div>    
    <h2 class="text-center">Minhas Coletas</h2>
</div>
<hr />
<br />

@if (Model.Count() > 0)
{
    <table class="table">
        <tr style="background-color: #428bca;border-color: #357ebd;color: white;">
            <th>
                @Html.Label("Data:")
            </th>
            <th>
                @Html.Label("Horário:")
            </th>
            <th class="hidden-xs">
                @Html.Label("Nº Clientes:")
            </th>
            <th class="hidden-xs hidden-sm">
                @Html.Label("Situação:")
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr onclick="location.href='@Url.Action("DetalheColeta", "Funcionarios", new { coletaId = item.coletaId })'"
                class='@( (item.coletado == "F") ?
                        "linha success"
                    : (item.coletado == "A") && (DateTime.Now > item.horaAgendada) ?
                        "linha warning"
                    :   "linha" )'>
                <td>
                    @{
                        string data = item.horaAgendada.Value.ToShortDateString();
                    }
                    @Html.DisplayFor(modelItem => data)
                </td>
                <td>
                    @{
                        string hora = item.horaAgendada.Value.ToShortTimeString();
                    }
                    @Html.DisplayFor(modelItem => hora)
                </td>
                <td class="hidden-xs">
                    @Html.DisplayFor(modelItem => item.ClientesColetas.Count)
                </td>
                
                @if (item.coletado == "A")
                {
                    <td class="hidden-xs hidden-sm">
                        <span>Aguardando</span>
                    </td>
                    <td>
                        @Html.ActionLink(" ", "RotaColeta", new { coletaId = item.coletaId }, new { @class = "glyphicon glyphicon-road", @title = "Rotas" })
                    </td>
                }
                else if (item.coletado == "I")
                {
                    <td class="hidden-xs hidden-sm">
                        <span>Iniciada</span>
                    </td>
                    <td>
                        @Html.ActionLink(" ", "RotaColeta", new { coletaId = item.coletaId }, new { @class = "glyphicon glyphicon-road", @title = "Rotas" })
                    </td>
                }
                else {
                    <td class="hidden-xs hidden-sm">
                        <span>Finalizada</span>
                    </td>
                    <td></td>
                }

               
            </tr>
        }

    </table>
}
else {
    <div class="panel-info">
        <h4 class="text-muted">Nenhuma coleta criada ainda!</h4>
    </div>
}